<!-- Llamar a cabecera -->
<%- include('./partials/header') -%>



  <!-- INICIO DE PAGINA-->
  <!-- <h1 class="h3 mb-2 text-gray-800">BD</h1>
  <p class="mb-4">
    Listado dinámico & profesional
  </p> -->
  
  <!-- INICIO DE PAGINA-->
  <h1 class="h3 mb-2 text-gray-800">PADRÓN COLEGIO 2021 </h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary text-uppercase">
        Padron Oficial Colegio 2021.
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead class="">
            <tr>
              <th scope="col">Nro</th>
              <th scope="col">#CI</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Local</th>
              <th scope="col">Mesa</th>
              <th scope="col">Orden</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th scope="col">Nro</th>
              <th scope="col">#CI</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Local</th>
              <th scope="col">Mesa</th>
              <th scope="col">Orden</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </tfoot>

          
          <tbody>

            <% 
              let i=1; 
              const separadorMiles = (n) => {
                n = String(n).replace(/\D/g, "");
                return n === '' ? n : Number(n).toLocaleString();
              }
            %>
            <% if (file.length > 0) { %>

              <% file.forEach(function(item){ %>
              <tr>
                <td> <%= i++ %> </td>
                <!-- <th scope="row"> <%= separadorMiles(item.cedula)  %> </th> -->
                <th scope="row"> <%= item.cedula  %> </th>
                <td> <%= item.nombre %> </td>
                <td> <%= item.apellido %> </td>
                <td> 
                  <!-- LOCAL DE VOTACION -->
                  <% if (item.local  == 1 ) { %>
                    COLEGIO
                  <% } else { %>
                    ESCUELA
                  <% } %>

                  <!-- <%= item.local %>  -->
                </td>
                <td class="text-center"> <%= item.mesa %> </td>
                <td class="text-center"> <%= item.orden %> </td>
                <td class="text-center"> 
                  
                  <button  class="btn btn-circle btn-success btn-sm"> <i class="fas fa-plus-circle " role="button"></i> </button>
                  <!-- <button class="btn btn-circle btn-danger btn-sm"> <i class="far fa-file-pdf" title="Exportar datos a PDF" role="button"></i> </button> -->
                  
                </td>
              </tr>
              <% }); %>

            <% } else { %>
            <tr class="text-center">
              <td class=" py-4" colspan="5"> Sin datos disponibles </td>
            </tr>
            <% } %>

          </tbody>
        </table>
      </div>
    </div>
  </div>




  


<!-- Llamar footer -->
<%- include('./partials/footer') -%>